#main {
  padding: 10px;
  overflow: hidden auto;
}

#stdin {
  display: block;
  background-color: #333;
  color: #fff;
  width: calc(100% - 40px);
  margin: 10px;
  border: 0;
  padding: 10px;
  font-family: var(--font-monospace);
  resize: vertical;
}

#main > div {
  white-space: pre-wrap;
  word-break: break-all;
  background-color: #333;
  margin: 10px;
  padding: 10px;
  font-family: var(--font-monospace);
}
